/* Import fonts */
@import url('https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&display=swap');

/* Styles page */
html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
body {
  border-top: solid 10px #A3CB38;
}
.page {
  max-width: 1200px;
  margin: 0 auto;
}
.logo-img {
  width: 180px;
  margin: 24px auto;
  /*text-align: center;*/
  /*display: block;*/
}
/* Fonts */
html *, body *, .page, * {
  font-family: 'Nunito', sans-serif;
}

a {
  text-decoration: none;
  font-style: italic;
}
h1,h2,h3,h4 {
  color: #333;
}

h2 {
  margin-top: 64px;
  /*font-size: 2em;*/
  border-bottom: solid 1px #A3CB38;
  padding-bottom: 24px;
  color: #777;
}
.cool {
  color: #006266;
}
.button {
  display: block;
  background: #ddd;
  padding: 24px;
  cursor: pointer;
}

#filecontents {
  max-height: 400px;
  overflow-y: scroll;
  border: solid 1px #eee;
  border-top: solid 4px #eee;
  padding: 16px;
  font-size: .8em;
  color: #777;
}
.content-text {
  display: none;
}

.error {
  color: #D73C2C;
  display: none;
}

.error span {
  font-style: italic;
}

.area-upload {
  border: solid 1px #eee;
  padding: 24px;
}

.loading {
  width: 48px;
  display: block;
  margin: 48px auto;
  display: none;
  text-align: center;
}

button, #submit-btn {
  border: none;
  border-radius: 0;
  background: #1B1464;
  color: #fff;
  cursor: pointer;
  padding: 8px 24px;
  font-weight: bold;
  font-size: 1.1em;
  margin: 16px;
  display: none;
  outline: none;
}

/* Esconde o input */
input[type='file'] {
  display: none
}

/* Aparência que terá o seletor de arquivo */
label.file-input-label {
  background-color: #eee;
  border-radius: 0px;
  cursor: pointer;
  margin: 0px auto;
  text-align: center;
  padding: 6px 20px;
}

.box-info {
  display: flex;
  text-align: center;
}

.box-info .info-t {
  display: inline-block;
  padding: 16px;
  box-sizing: border-box;
  width: 48%;
  margin: 0 auto;
}
.box-info .info-t.caracters {
  border: solid 1px #5758BB;
  border-bottom: solid 4px #5758BB;
}
.box-info .info-t.caracters span.number {
  color: #5758BB;
}
.box-info .info-t.words {
  border: solid 1px #006266;
  border-bottom: solid 4px #006266;
}
.box-info .info-t.words span.number {
  color: #006266;
}
.box-info .info-t span {
  display: block;
  width: 100%;
  color: #555;
}
.box-info .info-t span.number {
  font-size: 2em;
  font-weight: bold;
}
.visualizations {
  /*min-height: 400px;*/
  display: none;
}

#container-sigma {
  width: 100%;
  max-width: 100%;
  height: 600px;
  margin: auto;
  border: solid 1px #eee;
}

.footer {
  padding: 24px;
  opacity: .7;
  font-size: .9em;
  color: #333;
  text-align: right;
}